* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #e5eff5;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  line-height: 1.3;
}

#price-component {
  padding: 12% 5%;
  height: 100%;
  width: 100%;
}

.main-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 660px;
  margin: 0 auto;
  -webkit-box-shadow: 0 4px 20px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 20px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.upper-div {
  height: 50%;
  padding: 40px;
  background-color: white;
  border-radius: 10px 10px 0 0;
}

.upper-div h2 {
  color: #2ab2af;
  margin-bottom: 20px;
}

.upper-div h4 {
  color: #c0df34;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

.upper-div p {
  color: #98a6bd;
  line-height: 1.7;
}

.lower-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50%;
  color: white;
}

.lower-left-div {
  width: 50%;
  padding: 40px;
  background-color: #2ab2af;
  border-radius: 0 0 0 10px;
}

.lower-left-div h3 {
  margin-bottom: 15px;
}

.lower-left-div h4 {
  margin-top: 5px;
  margin-bottom: 30px;
  font-weight: 400;
}

.lower-left-div .button {
  padding: 15px 0;
  text-align: center;
  background-color: #c0df34;
  color: white;
  font-size: 16px;
  font-weight: 700;
  font-family: 'Karla', sans-serif;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0 6px 10px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 6px 10px 4px rgba(0, 0, 0, 0.1);
}

.lower-left-div a {
  text-decoration: none;
  display: inline-block;
  width: 100%;
}

.lower-left-div a:hover {
  background-color: #e7ec13;
  -webkit-box-shadow: 0 6px 10px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0 6px 10px 4px rgba(0, 0, 0, 0.15);
}

.lower-right-div {
  width: 50%;
  padding: 40px;
  background-color: #4abebd;
  border-radius: 0 0 10px 0;
}

.lower-right-div h3 {
  margin-bottom: 15px;
}

.lower-right-div ul {
  list-style-type: none;
  color: #e5eff5;
  padding: 0;
  margin: 0;
  line-height: 1.4;
}

.dollar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dollar h2 {
  margin-right: 15px;
  font-weight: 700;
  font-size: 34px;
}

.dollar p {
  color: #6fe0e1;
}

@media screen and (max-width: 700px) {
  .main-div {
    max-width: 375px;
  }
  .upper-div {
    padding: 30px 25px;
  }
  .lower-div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .lower-left-div {
    padding: 30px 25px;
    border-radius: 0%;
    width: 100%;
  }
  .lower-right-div {
    padding: 30px 25px;
    border-radius: 0 0 10px 10px;
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */